//- Layout for login and register page
doctype html
html
  head
    meta(charset='utf-8')
    title Login
    link(rel='stylesheet', href='dijit/themes/tundra/tundra.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body(class='tundra')
    block content