<!-- <button md-button [md-dialog-close]="true">Close</button> -->
<!-- <md-dialog-actions>
  <button md-mini-fab md-dialog-close class="dialog-close-btn">
    <md-icon >close</md-icon>
  </button>
</md-dialog-actions> -->
<md-dialog-content>
  <md-tab-group>
    <md-tab label="Projects">
      <div class="content-row-table">
        <md-list>
          <label md-subheader md-line>Active Project</label>
          <md-list-item *ngIf="activeProject; else elseBlockActiveProj">
            <md-icon md-list-icon>insert_drive_file</md-icon>
            <h4 md-line><strong>{{activeProject.name}}</strong></h4>
            <p md-line *ngIf="activeProject.centerLat"> <strong>Center: </strong> {{activeProject.centerLat.substring(0, 10) + ', ' + activeProject.centerLong.substring(0, 10) }}
            </p>
            <p md-line *ngIf="activeProject.zoomLevel"><strong>Zoom level: </strong>{{activeProject.zoomLevel ? activeProject.zoomLevel : '--'}} </p>
            <p md-line *ngIf="activeProject.geoJsonUrl"><strong>GeoJSON URL: </strong> <a target="_blank" [href]="activeProject.geoJsonUrl" >  {{activeProject.geoJsonUrl ? activeProject.geoJsonUrl : '--'}} </a> </p>
            <button md-button (click)="deleteProject(activeProject)">Delete</button>
          </md-list-item>
          <ng-template #elseBlockActiveProj>
            <md-list-item>
              No active project. Select a project from below or create a new project.
            </md-list-item>
          </ng-template>
        </md-list>
        <md-list>
          <label md-subheader md-line>Other Projects</label>
          <button md-raised-button class="new-project-btn" (click)="createProject()">New project</button>
          <md-list-item *ngFor="let project of projects" class="list-item">
            <md-icon md-list-icon>insert_drive_file</md-icon>
            <h4 md-line><strong>{{project.name}}</strong></h4>
            <p md-line *ngIf="project.geoJsonUrl">GeoJSON URL: <a target="_blank" [href]="project.geoJsonUrl" >  {{project.geoJsonUrl ? project.geoJsonUrl : '--'}} </a> </p>
            <button md-button (click)="changeActiveProject(project)">Select</button>
            <button md-button (click)="deleteProject(project)">Delete</button>
          </md-list-item>
        </md-list>
      </div>
    </md-tab>
    <md-tab label="Account">
        <div class="account-details">
          <div>
              Logined as: <strong> {{currentUser.email}} </strong>
          </div>
          <div>
            <button md-raised-button (click)="deleteUser()">Delete</button>
          </div>
        </div>
    </md-tab>
  </md-tab-group>
</md-dialog-content>
<md-dialog-actions class="close-btn-container">
  <button md-raised-button md-dialog-close [disabled]="!activeProject" [mdTooltipDisabled]="activeProject" mdTooltip="Please select a project" mdTooltipPosition="above">
    Close
  </button>
</md-dialog-actions> 