<!-- <button md-button [md-dialog-close]="true">Close</button> -->
<!-- <md-dialog-actions>
  <button md-mini-fab md-dialog-close class="dialog-close-btn">
    <md-icon >close</md-icon>
  </button>
</md-dialog-actions> -->
<md-dialog-content>
  <md-tab-group>
    <md-tab label="Projects">
      <div class="content-row-table">
        <md-list>
          <label md-subheader md-line>Active Project</label>
          <md-list-item>
            <md-icon md-list-icon>insert_drive_file</md-icon>
            <h4 md-line><strong>{{projects[0].name}}</strong></h4>
            <p md-line> Center: {{projects[0].center}}</p>
            <p md-line>Zoom level: {{projects[0].zoom}} </p>
          </md-list-item>
        </md-list>
        <md-list>
          <label md-subheader md-line>Projects</label>
          <button md-raised-button class="new-project-btn">New project</button>
          <md-list-item *ngFor="let project of projects" class="list-item">
            <md-icon md-list-icon>insert_drive_file</md-icon>
            <h4 md-line>{{project.name}}</h4>
            <p md-line> <strong>Center: </strong>{{project.center}}</p>
            <p md-line><strong>Zoom level: </strong>{{project.zoom}} </p>
            <button md-button>Edit</button>
            <button md-button>Delete</button>
          </md-list-item>
        </md-list>
      </div>
    </md-tab>
    <md-tab label="Account">Content 2</md-tab>
  </md-tab-group>
</md-dialog-content>