.content-row {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 0px;
}

.content-row-right-aligned {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-left: 0px;
}

/* .chip-label {
    font-weight: bold;
    background: white;
    padding-left: 16px !important;
}

.chip-value {
    background: white;
    padding-left: 0px !important;
} */

.content-row-table {
    display: flex;
    flex-direction: column;
    min-height: 36vh;
    max-height: 36vh;
    min-width: 300px;
}

.mat-subheader {
    display: inline-block !important;
}

.new-project-btn {
    float: right;
    margin-right: 16px;
}

.dialog-close-btn {
    cursor: pointer;
    float: right;
    background: white;
    box-shadow: 0px 0px !important;
}

.mat-dialog-actions {
    margin: 0px;
    padding: 0px;
}

.list-item:hover {
    background-color:rgba(230, 230, 230, 0.7);
}

.close-btn-container {
    flex-flow: row-reverse !important;
    padding-top: 10px;
}
