.featureType {
  margin: 5px 15px;
  padding: 10px;
  height: 25px;
}

.featureType:hover {
  background: lightgray;
  cursor: pointer;
}

.featureType div {
  float: left;
  margin-bottom: 5px !important;
}

.featureType div:last-child {
  margin: 5px;
}