<div [formGroup]="form">
  <!-- <label [attr.for]="field.key">{{field.label}}</label> -->

  <div [ngSwitch]="field.controlType">

    <md-input-container *ngSwitchCase="'textbox'" class="example-full-width">
      <input mdInput [formControlName]="field.key" [id]="field.key" type="text" [placeholder]="field.label">
    </md-input-container>

    <md-input-container *ngSwitchCase="'textarea'" class="example-full-width">
      <textarea mdInput [formControlName]="field.key" [placeholder]="field.label" [id]="field.key"></textarea>
    </md-input-container>

    <md-input-container *ngSwitchCase="'number'" class="example-full-width">
      <input mdInput [formControlName]="field.key" [id]="field.key" type="number" [placeholder]="field.label">
    </md-input-container>

    <md-input-container *ngSwitchCase="'url'" class="example-full-width">
      <input mdInput [formControlName]="field.key" [id]="field.key" type="url" [placeholder]="field.label">
    </md-input-container>

    <md-select *ngSwitchCase="'select'" [placeholder]="field.label" [id]="field.key">
      <md-option *ngFor="let opt of field.options" [value]="opt.key">
        {{opt.value}}
      </md-option>
    </md-select>

  </div>
  <div class="errorMessage" *ngIf="!isValid">{{field.label}} is required</div>
</div>
