<!-- Div to hold the map-->
<div [style.height]="mapHeight" #map class="mapContainer">
</div>

<!-- HTML for infobar -->
<div class="infoBarContainer" #infoBarContainer id="infoBarContainer">
  <md-grid-list cols="5" rowHeight="25" gutterSize="0px">
    <md-grid-tile class="infoImageContainer" rowspan="5" [ngStyle]="{
        'background' : 'url('+selectedFeatureData.imageUrl+') no-repeat'}">
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="2" class="titleTile">
      <div>
        <h2 class="mat-title">{{selectedFeatureData.title}}</h2>
        <h4 class="mat-subheading-1">{{selectedFeatureData.subtitle}}</h4>
      </div>
    </md-grid-tile>
    <md-grid-tile rowspan="5" class="scanBtnContainer">
      <button md-fab class="scanBtn" (click)="scanBtnClick($event)">
        <md-icon>my_location</md-icon>
      </button>
      <button md-icon-button [mdMenuTriggerFor]="menu" class="moreButton">
        <md-icon>more_vert</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile colspan="3" rowspan="2" class="bodyTile">
      <p class="mat-body-1">{{selectedFeatureData.description}}
      </p>
    </md-grid-tile>
    <md-grid-tile colspan="3" class="footerTile"
      [class.topborder]="selectedFeatureData.openTime || selectedFeatureData.website">
      <div class="attachmentContainer">
        <div *ngIf="selectedFeatureData.openTime" class="attachment">
          <div class="attachMentIconContainer">
            <md-icon class="smallIcon">access_time</md-icon>
          </div>
          <div class="attachMentValueContainer time">
            {{selectedFeatureData.openTime}}
          </div>
        </div>
        <div *ngIf="selectedFeatureData.website" class="attachment">
          <div class="attachMentIconContainer">
            <md-icon class="smallIcon">language</md-icon>
          </div>
          <div class="attachMentValueContainer link">
            <a href="" href="http://{{selectedFeatureData.website}}" target="_blank">
                {{selectedFeatureData.website}}
            </a>
          </div>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>

<md-menu #menu="mdMenu">
  <button md-menu-item disabled>
    <span>Level {{selectedLevel}}</span>
  </button>
  <button *ngFor="let option of optionsForSelect"
    md-menu-item (click)="selectChanged(option)">
    <!--<md-icon>voicemail</md-icon>-->
    <span>{{option.name}}</span>
  </button>
</md-menu>

<div class="levelButtonContainer" id="layerSwitcher">
  <div *ngFor="let level of indoorLevels" class="levelButton mat-body-1" [class.levelSelected]="selectedLevel==level" (click)="levelChangeClick($event)" [attr.data-value]="level">{{level}}</div>
</div>

<div id="beaconTester">
  <md-input-container>
    <input mdInput placeholder="Beacon ref ID" value="1" id="beaconRefTxt">
  </md-input-container>
  <button md-raised-button (click)="testScanBtnClick($event)">Go</button>
</div>
