<md-toolbar color="primary">

    <md-icon class="logo-icon">map</md-icon>
    <span>Indoor Map Creator</span>
    <span class="toolbar-spacer"></span>
    <button md-button [mdMenuTriggerFor]="menu">My Account</button>
    <md-menu #menu="mdMenu">
      <button md-menu-item  (click)="onMyAccountClick()">
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item (click)="onLogoutClick()">
        <md-icon>power_settings_new</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
</md-toolbar>

<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <app-side-pane [mapApi]="mapApi"></app-side-pane>
  </md-sidenav>
  <app-map [mapApi]="mapApi" [sidenav]="sidenav"></app-map>
</md-sidenav-container>