<div #map class="mapContainer">
</div>
<div class="toolbarContainer" #toolbar>
  <app-tool-bar *ngIf="map" [map]='gMap' [mapApi]="mapApi" [selectedLevels]="selectedLevels"></app-tool-bar>
</div>
<div class="layerFilterContainer" #layerFilter>
  <app-level-filter (onFilterChanged)="onLayerFilterChanged($event)"></app-level-filter>
</div>
<div #sideBarToggleBtn class="togleBtnContainer">
  <button md-mini-fab (click)="toggleSideNav()" style="float:right" color="none">
    <md-icon *ngIf="sideNavOpened">keyboard_arrow_left</md-icon>
    <md-icon *ngIf="!sideNavOpened">keyboard_arrow_right</md-icon>
  </button>
</div>