.mapContainer {
    height: 100%;
}
.toolbarContainer {
    margin-top: 10px;
    margin-left: 10px;
}

.layerFilterContainer {
    margin-top: 10px;
    margin-right: 10px;
    background: white;
}

.togleBtnContainer {
    margin-left: 10px;
}