<div *ngIf="selectedItem">
  <div class="sideNavTitle">
    <h3 style="display: inline-block">Edit feature tags</h3>
    <md-icon class="deleteButton" (click)="onDeleteFeature()">delete_forever</md-icon>
  </div>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="tagForm" class="tag-edit-form">

      <div *ngFor="let control of selectedItem.feature.formControls" class="form-row">
        <dynamic-form-field [field]="control" [form]="tagForm"></dynamic-form-field>
      </div>

      <!-- <div class="form-row">
      <button type="submit" [disabled]="!tagForm.valid">Save</button>
    </div> -->
    </form>

    <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> -->
  </div>
</div>