<app-search-places [mapApi]="mapApi"></app-search-places>

<!-- <form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Reference" disabled value="1">
  </md-input-container>
  <md-select placeholder="Building" name="building">
      <md-option value="hospital">
        Hospital
      </md-option>
      <md-option value="building">
        Building
      </md-option>
  </md-select>
  <md-input-container class="example-full-width">
     <input mdInput placeholder="Name">
  </md-input-container>
  <md-input-container class="example-full-width">
    <textarea mdInput placeholder="Notes"></textarea>
  </md-input-container>
  <md-input-container class="example-full-width">
     <input mdInput placeholder="Minimum Level">
  </md-input-container>
  <md-input-container class="example-full-width">
     <input mdInput placeholder="Maximum Level">
  </md-input-container>
  <md-input-container class="example-full-width">
     <input mdInput placeholder="Non Existent Level">
  </md-input-container>
  <md-input-container class="example-full-width">
     <input mdInput placeholder="Website">
  </md-input-container>
  <md-select placeholder="Wheelchair Allowed" name="building">
      <md-option value="yes">
        Yes
      </md-option>
      <md-option value="no">
        No
      </md-option>
  </md-select>
  <md-input-container class="example-full-width">
    <textarea mdInput placeholder="Wheelchair Description"></textarea>
  </md-input-container>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="" disabled value="Opening Hours">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Sun (AM)">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="(PM)" >
    </md-input-container></td>
  </tr></table>
  <button md-raised-button style="float: right">Add</button>
</form> -->